.card-sucess-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.519);
}

.card-sucess {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
  min-width: 400px;
}

.card-sucess h2 {
  color: #127ed6;
  text-align: center;
}

.card-sucess button {
  background-color: #127ed6;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  width: 100%;
  max-width: 100px;
}

.card-sucess-btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

@media (max-width: 464px) {
  .card-sucess {
    min-width: 90%;
    padding: 30px;
    gap: 10px;
  }

  .card-sucess-btns {
    flex-direction: column;
  }

  .card-sucess button {
    max-width: none;
  }
}
