.location-card {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.location-card-automobile-details img {
  max-height: 150px;
  border-radius: 4px;
  margin: 0 auto;
}

.location-card-automobile-details h3 {
  color: #127ed6;
  text-align: center;
}

.location-card-location-details p {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.location-checked-confirm-box img {
  height: 40px;
  width: 40px;
}

.location-check-confirm {
  display: flex;
  align-items: center;
  color: #127ed6;
  font-weight: 500;
}

.location-check-confirm-box {
  cursor: pointer;
  background-color: #127ed6;
  color: #fff;
  padding: 7px 10px;
  border-radius: 4px;
}

.location-checked-confirm-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.location-remove {
  cursor: pointer;
}

.location-remove h2,
.location-checked-confirm-box img {
  font-size: 40px;
  height: 40px;
  font-weight: 500;
}

.location-remove p,
.location-checked-confirm-box p {
  font-size: 16px;
}

.location-remove,
.location-remove h2,
.location-checked-confirm-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location-checked-space {
  display: flex;
  align-items: center;
  gap: 10px;
}

.location-checked-confirm-box,
.location-remove {
  height: 100px;
}

.location-card-loading img {
  height: 100px;
  width: 100px;
}

@media (max-width: 768px) {
  .location-card {
    flex-direction: column;
  }

  .location-card-location-details p {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
  }

  .location-card-automobile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .location-card-automobile-details img {
    width: 180px;
    height: 150px;
  }

  .location-card-automobile-details h3 {
    margin-top: 10px;
    font-size: 18px;
  }

  .location-check-confirm {
    justify-content: center;
  }

  .location-check-confirm-box {
    text-align: center;
    width: 100%;
    max-width: 200px;
    padding: 5px 8px;
    margin-top: 5px;
  }

  .location-checked-space {
    width: 100%;
    justify-content: space-around;
  }

  .location-checked-confirm-box img,
  .location-remove h2 {
    height: 32px;
    width: 32px;
  }

  .location-remove h2 {
    font-size: 28px;
  }
}
