.automobile-details-card {
  margin-top: 20px;
  border: 2px solid #127ed6;
  padding: 15px 20px 20px 20px;
  border-radius: 4px;
}

.automobile-details-card-top {
  text-align: center;
}

.automobile-details-card-top img {
  max-height: 300px;
  max-width: 450px;
}

.automobile-details-card-top h2 {
  color: #127ed6;
}

.automobile-details-bottom {
  display: flex;
  justify-content: space-around;
}

.automobile-details-bottom-left,
.automobile-details-bottom-right {
  margin: auto 0;
}

.automobile-details-bottom-left p {
  font-size: 18px;
  margin-top: 8px;
}

.automobile-details-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.automobile-details-btn {
  background-color: #127ed6;
  color: #fff;
  padding: 7px 10px;
  border-radius: 4px;
  width: 200px;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 576px) {
  .automobile-details-card-top img {
    width: 75%;
  }

  .automobile-details-card-top h2 {
    font-size: 20px;
  }

  .automobile-details-bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .automobile-details-bottom-left h3 {
    margin-top: 5px;
    font-size: 18px;
  }

  .automobile-details-bottom-left {
    text-align: center;
  }

  .automobile-details-bottom-right {
    width: 100%;
  }

  .automobile-details-btns {
    align-items: center;
  }

  .automobile-details-btn {
    width: 100%;
    max-width: 300px;
  }
}
