.history-page-location-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.history-page-location-cards h3 {
  text-align: center;
}

.loading-locations-list {
  display: flex;
  justify-content: center;
}

.loading-locations-list img {
  height: 100px;
  width: 100px;
} 

@media (max-width: 768px) {
  .history-page-location-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}
