.card-error-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.519);
}

.card-error {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
}

.card-error h2 {
  color: #a10803;
}

.card-error button {
  background-color: #127ed6;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  width: 100%;
  max-width: 200px;
}
