@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: aliceblue;
}

main {
  padding: 0 20px;
}

.top-title {
  margin: 10px 0;
  text-align: center;
  color: #127ed6;
}

.card {
  border: 1px solid #127ed6;
  border-radius: 4px;
  background-color: #fff;
}

.option-navegation-header-active {
  border-bottom: 2px solid #fff;
}

.option-navegation-header-mobile-active {
  background-color: #fff;
  color: #127ed6;
}
