@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

html,
body {
  background-color: aliceblue;
}

main {
  padding: 0 20px 20px 20px;
}

.top-title {
  margin: 10px 0;
  text-align: center;
  color: #127ed6;
}

.card {
  border: 1px solid #127ed6;
  border-radius: 4px;
  background-color: #fff;
}

.option-navegation-header-active {
  border-bottom: 2px solid #fff;
}

.option-navegation-header-mobile-active {
  background-color: #fff;
  color: #127ed6;
}

.form-error {
  color: #b11717;
  font-size: 14px;
  padding-left: 4px;
  display: none;
}

.form-item-input [data-dirty="true"][data-invalid="true"] {
  border: 2px solid #b11717;
}

.form-item-input [data-dirty="true"][data-invalid="true"] ~ div {
  display: unset;
}

.form-global-error {
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  color: #b11717;
}

.automobile-returned-true {
  color: #04750a;
  font-weight: 500;
}

.automobile-returned-false {
  color: #a10803;
}

.page-register-card {
  padding: 20px;
  border: 2px solid #127ed6;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  border-radius: 4px;
}

.page-register-card h2 {
  color: #127ed6;
  text-align: center;
  margin-bottom: 20px;
}

.register-card-form-item-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.register-card-form-item-input label {
  font-size: 18px;
  margin-bottom: 2px;
}

.register-card-form-item-input input {
  border: 2px solid #127ed6;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
}

.register-card-btn button {
  padding: 6px 8px;
  font-size: 15px;
  background-color: #127ed6;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  margin-top: 20px;
}
