.catalog-card-top {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.catalog-card-bottom h3 {
  color: #127ed6;
  text-align: center;
}

.catalog-card-top img {
  width: 180px;
  height: 150px;
}

.catalog-card-bottom {
  padding: 0 20px 10px;
  min-height: 110px;
}

.catalog-card-bottom p {
  font-weight: 500;
  margin-top: 5px;
}
